
<!-- (c) Copyright IBM Corporation. 2019-->
<!-- SPDX-License-Identifier: Apache-2.0-->
<!-- By Kip Twitchell-->

<h3>Mockup Screens</h3>
<ul>
    <li><a href="@routes.MockupsController.mockups("ul_1_login.png")">Ledger Set-up Screens</a></li>
    <li><a href="@routes.MockupsController.mockups("ul_8_file_list.png")">Processing Screens</a></li>
</ul>
<h3>POC Code</h3>
<ul>
    <a href="@routes.UploadController.upload">System Initiation/Upload</a>
    <a href="@routes.ListFilesController.listfiles">List Files</a>
</ul>
<h3>More Information</h3>
<ul>
    <a href="https://ledgerlearning.com/about/" target="_blank">Financial Systems Education</a>
    <a href="https://ledgerlearning.com" target="_blank">Ledger Learning Blog</a>
    <a href="https://www.ibm.com/blockchain">IBM Block Chain</a>
    <a href="https://www.ibm.com/cloud">IBM Cloud</a>
</ul>
<h3>Environment Test</h3>
<ul>
    <li><a href="@routes.EnvTestController.testenv">Test Database Connection</a></li>
</ul>

