<!-- (c) Copyright IBM Corporation. 2019-->
<!-- SPDX-License-Identifier: Apache-2.0-->
<!-- By Kip Twitchell-->

@(message: String, form: Form[controllers.FormData])(implicit request: MessagesRequestHeader, assetsFinder: AssetsFinder)

@main(message, assetsFinder) {

<section id="top">
    <div class="wrapper">
        <h1><a href="https://ledgerlearning.com/about/">@message</a></h1>

    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Choose File to Upload To Server</h1>
        @helper.form(action = routes.UploadController.uploadform, 'enctype -> "multipart/form-data") {
        @helper.inputFile(form("name"))
        @helper.CSRF.formField
        <input type="submit" id="upload" value="upload file"/>
        }


    </article>

    <aside>
        <h3>Go Home</h3>
        <ul>

            <li><a href="@routes.HomeController.index">Home</a></li>

        </ul>

        @aside()

    </aside>

</div>
}