<!-- (c) Copyright IBM Corporation. 2019-->
<!-- SPDX-License-Identifier: Apache-2.0-->
<!-- By Kip Twitchell-->

@(message: String)

<section id="top">
  <div class="wrapper">
    <h1><a href="https://ledgerlearning.com/about/">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Welcome to the Universal Ledger</h1>

  <p>
    Congratulations, you’ve just created a new Universal Ledger application. This page will help you with the next few steps.
  </p>

  <blockquote>
    <p>
      This is a Proof of Concept System.  Many functions are not implemented.
    </p>
  </blockquote>

<h2>What Can You Do?</h2>

    <p>
      There are currently planned four parts to this system:
        <ol>
            <li>Mockups of Initial Set Up Screens</li>
            <li>Mockups of Initial Stages in Transaction Processing</li>
            <li>File-based Conversion and System Initiation Processes</li>
            <li>Integrated Posting, New Event Generation, and Reporting Processes</li>
        </ol>

    Each of these are described below.  Links are shown at right.
    </p>

<h2>Initial Setup Mockups</h2>

    These initial screens, <a href="@routes.MockupsController.mockups("ul_1_login.png")">Universal Ledger Screen Mockups</a>, show what initial user ID creation and ledger setup would mean.  The end results of these screen would be a set of meta data defining the universal ledger to those participating parties.

    This data would be used to generate Scala code which could be deployed to servers to create and run a Universal Ledger

<h2>Initial Transaction Processing</h2>

    These screens, <a href="@routes.MockupsController.mockups("ul_8_file_list.png")">Processing Screen Mockups</a>, show how processing begins after the Universal Ledger has been created.  They include selecting files for processing or importing transactions, and then the results of identifying new Involved Parties in the processed transactions.

<h2>Start the POC</h2>

    Limited functionality has been created to demonstrate the capabilities of a Universal Ledger.  You can test them out beginning here:

    <a href="@routes.UploadController.upload">File-based Conversion and System Initiation Processes</a>

<h2>Need more information?</h2>

    Check out <a href="https://ledgerlearning.com/about/" target="_blank">Financial Systems Education</a> for more information about universal ledgers.

    Or <a href="https://www.ibm.com/blockchain" target="_blank">IBM Block Chain</a> to learn more about the inspiration for a true shared ledger.

    Or <a href="https://www.ibm.com/cloud" target="_blank">IBM Cloud</a> for a hosted solution.

</article>

<aside>
    @aside()
</aside>

</div>
